local emote_tables = {}

-- Add the IDs for your emoji alphabet here
-- The values in this table should look like: "<:emotename:id>"
-- Red A, B, and O are already in the Unicode standard as blood type emojis
-- With 23 custom red letters and 26 custom green letters, the full alphabet takes 49 emoji slots
emote_tables.RedLetters = {
	A = ":a:",
	B = ":b:",
	C = "",
	D = "",
	E = "",
	F = "",
	G = "",
	H = "",
	I = "",
	J = "",
	K = "",
	L = "",
	M = "",
	N = "",
	O = ":o2:",
	P = "",
	Q = "",
	R = "",
	S = "",
	T = "",
	U = "",
	V = "",
	W = "",
	X = "",
	Y = "",
	Z = ""
}

emote_tables.GreenLetters = {
	A = "",
	B = "",
	C = "",
	D = "",
	E = "",
	F = "",
	G = "",
	H = "",
	I = "",
	J = "",
	K = "",
	L = "",
	M = "",
	N = "",
	O = "",
	P = "",
	Q = "",
	R = "",
	S = "",
	T = "",
	U = "",
	V = "",
	W = "",
	X = "",
	Y = "",
	Z = ""
}

return emote_tables